
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #222;
    line-height: 1.6;
}

/* ENCABEZADO Y NAVBAR */
header {
    background-color: #111;
    padding: 15px 40px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h2 {
    color: #ff4d00;
    font-size: 28px;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    transition: 0.3s;
}

.navbar a:hover {
    color: #ff4d00;
}

/* PORTADA */
.portada {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.portada h1 {
    font-size: 42px;
    margin-bottom: 20px;
}

.portada p {
    font-size: 19px;
    max-width: 700px;
    margin: 0 auto 30px;
}

.boton {
    display: inline-block;
    background-color: #ff4d00;
    color: white;
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
    border: none;
    cursor: pointer;
}

.boton:hover {
    background-color: #e63e00;
    transform: scale(1.05);
}

/* FORMULARIO Y ASIDE */
.layout-principal {
    display: flex;
    gap: 30px;
    padding: 40px;
    max-width: 1100px;
    margin: 0 auto;
    flex-wrap: wrap; 
}

.seccion-contacto {
    flex: 2; 
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); 
}

.titulo-formulario {
    margin-bottom: 20px;
    color: #111;
}

.aside-contacto {
    flex: 1; 
    background: #222;
    color: white;
    padding: 30px;
    border-radius: 10px;
}

.aside-contacto h3 {
    color: #ff4d00;
    margin-bottom: 15px;
}

.boton-aside {
    display: block;
    text-align: center;
}

.grupo-form {
    margin-bottom: 20px;
}

.grupo-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #222;
}

.grupo-form input, 
.grupo-form select, 
.grupo-form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    box-sizing: border-box; 
}

/* FOOTER */
footer {
    background-color: #111;
    color: white;
    padding: 25px;
    text-align: center;
}

footer p {
    margin: 0;
}


@media (max-width: 768px) {
    header {
        padding: 15px 20px;
    }
    .navbar {
        flex-direction: column;
        gap: 15px;
    }
    .navbar ul {
        gap: 15px;
    }
    .portada {
        padding: 70px 20px;
    }
    .portada h1 {
        font-size: 32px;
    }
    .layout-principal {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .portada h1 {
        font-size: 27px;
    }
    .navbar ul {
        flex-direction: column;
        text-align: center;
    }
}